<style>
    .sidebar {
        position: relative;
        top: -17px;
    }

    @media (max-width: 1490px) {
        .sidebar {
            display: none !important;
        }

        .row {
            width: 80%;
        }

        .main {
            padding: 10px 15px 100px 15px;
        }
    }
</style>

<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">NGO Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                <i class="fa fa-home" aria-hidden="true" style="margin-right: 10px"></i>Home
            </a>
        </li>
        <li>
            <a href="/adminDashboard" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                <i class="fa fa-tachometer" aria-hidden="true" style="margin-right: 10px"></i>Dashboard
            </a>
        </li>
    </ul>
    <hr>

</div>