<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="./css/style_aboutUs.css">

    <div class="main">
        <div class="tittle">
            <h1 style="font-weight: 600;">Our Motto</h1>
            <p>
                Resource Redistribution: Our motto is to facilitate the efficient redistribution of excess food, clothes, toys, and books to NGOs and individuals in need, reducing waste and promoting social equity.
            </p>
        </div>

        <div class="tittle" style="margin-bottom: 25px; padding: 0 20px;">
            <h1 style="font-weight: 600;">Our Team</h1>
            <p>
                Our team is a dynamic blend of researchers and coders, each bringing a unique set of skills and expertise to the table. With a shared passion for innovation and problem-solving, we unite to tackle challenges head-on. Collaboration is at the heart of our team; we constantly communicate, iterate, and inspire one another to achieve the best possible outcomes.
            </p>
        </div>
        
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <img class="card-img-top" src="./images/img-avatar.png" alt="">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Karan Bisht</h5>
                            <h6 class="card-title">Frontend+Backend</h6>
                            <p class="card-text" style="font-size: 14px;">One of our skilled coders, who meticulously tackled the challenge of backend coding with ease and brought the UI/UX of the website to life.</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="card-img-top" src="./images/img-avatar.png" alt="">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Raj Kumar</h5>
                            <h6 class="card-title">Frontend+Backend</h6>
                            <p class="card-text" style="font-size: 14px;">Yet another skilled coder who helped shape the frontend and backend of our website, thus bringing life to it.</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="card-img-top" src="./images/img-avatar.png" alt="">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ayush Kumar</h5>
                            <h6 class="card-title">Frontend</h6>
                            <p class="card-text" style="font-size: 14px;">Combining roles as both coder and researcher, they expertly transformed insights into practical, efficient, and elegant solutions.</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="card-img-top" src="./images/img-avatar.png" alt="">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Yashika</h5>
                            <h6 class="card-title">UI/UX Designer</h6>
                            <p class="card-text" style="font-size: 14px;">Our main UI/UX designer who also provided us insightful analysis and deep understanding of the problem domain, guiding the development process.</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>

</body>
</html>