<style>
    :root {
        --green: green;
        --light-green: #368b44;
        --danger-red: #db3f34;
        --vibrant-green: rgb(11, 118, 11);
        --dark-green: rgba(36, 67, 40, 0.8);
        --haze-green: #9ae4c0;
    }

    /* .alert will select another alert in editProfile.ejs */
    .alert-success, .alert-danger {
        width: 40%;
        left: 50%;
        height: 75px;
        min-width: 300px;
        z-index: 100000;
        font-size: 20px;
        position: fixed;
        transform: translate(-50%);
        text-align: center;
        text-align-last: center;
    }

    strong {
        padding-top: 3px;
    }

    .alert-success {
        background-color: var(--haze-green);
        border: 1px solid var(--vibrant-green);
        color: var(--dark-green);
    }

    .btn-close {
        padding: 8px;
        margin-left: 20px;
        border-radius: 50%;
    }

    .alert-success>.btn-close:hover {
        background-color: var(--dark-green);
    }

    .alert-danger>.btn-close:hover {
        background-color: var(--danger-red);
    }

    .btn-close:hover {
        opacity: 0.8;
    }

    @keyframes expire {
        from {width: 100%;}
        to {width: 0;}
    }

    .flash-underline {
        height: 4px;
        margin-top: 16px;
        animation-name: expire;
        animation-duration: 5.6s;
    }

    @media (max-width: 1100px) {
        .alert-success, .alert-danger {
            width: 65%;
        }
    }
    @media (max-width: 750px) {
        .alert-success, .alert-danger {
            width: 310px;
            height: 105px;
        }
        .flash-underline {
            margin-top: 18px;
        }
    }
</style>

<% if (success && success.length) { %>
    <div id="flash-message" class="alert alert-success" role="alert">
        <div class="d-flex justify-content-center">
            <strong> <%- success %> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="flash-underline" style="background-color: var(--dark-green);"></div>
    </div>
<% } %>

<% if (error && error.length) { %>
    <div id="flash-message" class="alert alert-danger" role="alert">
        <div class="d-flex justify-content-center">
            <strong> <%- error %> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="flash-underline" style="background-color: var(--dark-red);"></div>
    </div>
<% } %>