<%- include('./partials/header.ejs') %>

<link rel="stylesheet" href="./css/style_home.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
   
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
    <div class="main">  
        <div class="display">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3500">
                        <img src="./images/img-slideshow-1.jpg" class="d-block w-100" alt="1st">
                    </div>
                    <div class="carousel-item" data-bs-interval="3500">
                        <img src="./images/img-slideshow-2.jpeg" class="d-block w-100" alt="2nd">
                    </div>
                    <div class="carousel-item" data-bs-interval="3500">
                        <img src="./images/img-slideshow-3.jpg" class="d-block w-100" alt="3rd">
                    </div>
                </div>
            </div>
        </div>  
        
        <div id="map" style="height: 50vh;">
        </div>
        <button id="originalPosition" class="originalPositionBtn">
            <i class="fa-sharp fa-solid fa-location-crosshairs"></i>
        </button>

        <div class="content">
            <h3>
                We here at DevSquad envision a world where communities come together to share resources, reducing resource disparities, alleviating food insecurity, and minimizing environmental impact, ultimately leading to a better and more sustainable tomorrow.
            </h3>
            <div class="subcontainer" style="padding-top: 25px;">
                <div class="title-card">
                    <h3>"Approximately 690 million people suffer from hunger globally."</h3>
                    <p class="source">Source: FAO, The State of Food Security and Nutrition in the World 2021</p>
                    <p>Out of 690 million people worldwide, 224.3 million people, or 16 per cent of India's population, are undernourished with 53 per cent of reproductive-age women also being anemic.</p>
                </div>
                <div class="title-card">
                    <h3>Around 258 million children and adolescents do not attend school."</h3>
                    <p class="source">Source: UNESCO, Global Education Monitoring Report 2020</p>
                    <p>By supporting organizations that focus on education, you can help provide scholarships, educational resources, and mentorship programs that keep children in schools. A small contribution can break the cycle of poverty and illiteracy, ensuring a brighter and more empowered future for these children. Education is the key to unlocking a world of opportunities.</p>
                </div>
                <div class="title-card">
                    <h3>Approximately 152 million children worldwide are engaged in child labor.</h3>
                    <p class="source">Source: International Labour Organization</p>
                    <p>Child labor is a prevalent issue where many children, unfortunately, start working at a very young age, sometimes even before they have their first toys.</p>
                </div>
                <div class="title-card">
                    <h3>Roughly one-third of all food produced is lost or wasted globally."</h3>
                    <p class="source">Source: FAO, Food Loss and Food Waste</p>
                    <p>Adopting responsible consumption habits and supporting food recovery programs can help reduce waste and alleviate hunger in communities.</p>
                </div>
            </div>
        </div>
    </div>
    
<%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <script type="module" src="./js/script_home.js"></script>
</body>
</html>