:root {
    --blue: #3381e7;
    --yellow: #fa6400cc;
    --white: #ffffff;
    --gray: #303030;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 100px 100px;
}

table {
    min-height: 200px;
}

th, td {
    vertical-align: middle;
}

.icon {
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    right: 25px;
    bottom: 50px;
    background-color: var(--blue);
}

.icon>a, icon>a>i {
    position: relative;
    top: 50%;
    left: 50%;
    color: var(--white);
}

.icon>a>i{
    font-size: 45px;
    transform: translate(-50%, -50%);

}

.icon:hover {
    opacity: 0.8;
}

@media (max-height: 1000px) {
    .icon {
        height: 50px;
        width: 50px;
        right: 12.5px;
        bottom: 10px;
    }
    .icon>a>i{
        font-size: 20px;
    }
}