* {
    margin: 0;
    padding: 0;
}
i {
    color: white; 
}
.tittle {
    text-align: center;
    margin: 15px auto 0 auto;
}
.container {
    justify-content: space-around;
    margin-bottom: 75px;
}
.row {
    gap: 20px;
    justify-content: center;
}
.col {
    max-width: 320px;
    position: relative;
}
.card:hover {
    box-shadow: 0 15px 15px 15px rgba(115,193,255,0.3);
}
.card-body {
    width: 170px;
    height: 250px;
}
.card-title {
    color: #2196f3;
    margin: 0;
}
h6.card-title {
    font-size: 12px;
    color: #555;
}
.card-img-top {
    z-index: 100;
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}
.card-img-top:hover {
    width: 210px;
}
.card-img-top:hover + .card{
    background-color: #2195f384;
}
.card-img-top:hover ~ .card > .card-body{
    color: transparent;
}
.card-img-top:hover ~ .card > .card-body > h5 {
    color: white;
    font-size: calc(100%*2);
    font-weight: 600;
}
.card-img-top:hover ~ .card > .card-body > h6 {
    font-weight: 600;
}
.socialMedia {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #2196f3;
    padding: 10px 20px;
}
.socialMedia > a > i {
    font-size: 32px;
}