.main {
    /* width: 400px; */
    /* margin: 20px auto 50px auto; */
    /* background-color: white; */
    border-radius: 10px;
}

input[type="date"] {
    width: 98.611%;
    border: none;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    margin-bottom: 7.5px;
    background-color: var(--white);
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid black;
}

.forCurrLoc {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

#locResult>p {
    margin: 0;
}

#locResult>p>span {
    font-size: 14px;
}

#humanReadableAddress {
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.divider {
    position: relative;
    top: -8px;
}

.divider>hr~p {
    text-align: center;
    position: relative;
    top: -28px;
    margin: 0;
}

p>span {
    padding: 0 10px;
    font-weight: 600;
    background-color: white;
}

textarea {
    margin: 2px 0 0 2px;
    width: 98.611%;
    font-size: 16.5px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    padding-left: 5px;
    position: relative;
    top: -25px;
}

input[type="submit"] {
    width: 100%;
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 485px) {
    .main {
        width: 320px;
    }
}