:root {
    --red: #da291c;
    --dark-red: #a40b00;
}

* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/img-background.png");
}

header {
    height: 75px;
    background-color: var(--red);
    margin-bottom: 55px;
}

.banner {
    text-align: center;
    color: whitesmoke;
    background-color: var(--dark-red);
    padding: 4px;
}

.banner>a {
    color: inherit;
    background-color: inherit;
}

.navbarOriginal {
    display: grid;
    grid-template-columns: 2fr 1fr 0.6fr;
    background-color: inherit;
    z-index: 10000;
    width: 100%;
    position: fixed;
    border-bottom: 5px solid var(--dark-red);
    justify-content: space-between;
}

.container-fluid {
    background-color: inherit;
}

.navbar {
    background-color: inherit;
}

.navbar-collapse {
    background-color: inherit;
}

.navbar-collapse.show {
    margin-top: 50px;
}

.navbar-nav {
    background-color: inherit;
}

.section,
.section>a {
    color: whitesmoke;
    background-color: var(--red);
    text-decoration: none;
    font-size: 25px;
}

.section {
    margin-left: 20px;
}

.section>a:hover {
    color: gainsboro;
}

.underline {
    height: 2px;
    width: 15px;
    background-color: gainsboro;
    transition: width 1s;
}

.section:hover .underline {
    width: 98%;
}

.back_button {
    height: 20px;
    background-color: inherit;
    position: relative;
    top: 3px;
}

.logo {
    background-color: inherit;
    min-width: 320px;
}

.logo>a {
    border: none;
    color: whitesmoke;
    background-color: inherit;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
}

.logo>a>img {
    height: 30px;
    width: 30px;
    background-color: inherit;
}

#mainTitle {
    font-family: 'Young Serif', serif;
}

.login {
    margin-left: 30px;
}

.dropdown {
    width: 81.5px;
    display: inline-block;
    background-color: inherit;
    padding: 0 0 0 40%;
}

.profile {
    font-size: 24px;
}

.dropdown-item {
    padding: 0 16px;
    background-color: white;
}

footer {
    height: 250px;
    color: whitesmoke;
    background-color: #2b3035;
    text-align: center;
    border-top: 5px solid #212529;
}

footer>p {
    color: gainsboro;
    font-size: 14px;
    background-color: inherit;
    padding-top: 5px;
}

footer>.container,
.container>.row,
.row>div {
    background-color: inherit;
}

.back_to_top {
    color: inherit;
    background-color: #212529;
    text-decoration: none;
}

.back_to_top>p {
    padding-bottom: 4px;
    background-color: inherit;
}

.container {
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.admin-panel {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 10000;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: var(--red);
}

.admin-panel:hover {
    cursor: pointer;
}

.admin-panel>i {
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media (max-width: 485px) {
    .navbarOriginal {
        grid-template-columns: 1fr auto 1fr;
        gap: 10px;
    }

    .logo {
        min-width: 210px;
    }

    .navbar {
        min-width: 50px;
    }

    .dropdown {
        padding: 0;
        margin-left: 40%;
        width: 30px;
    }

    .nav-link.mainRoute {
        position: relative;
        z-index: 200;
    }
}

@media (max-width: 725px) {
    .profile_data {
        display: none;
    }
}

@media (max-width: 550px) {
    #mainTitle {
        display: none;
    }

    .logoIcon {
        padding: 12.5px 0;
    }

    .logo {
        text-align: center;
    }
}

@media (max-width: 1070px) and (min-width: 990px) {
    li.nav-item.section {
        margin-left: 0px !important;
    }
}

@media (max-width: 1430px) {
    .profile_data {
        display: none;
    }

    .sign_in_up {
        display: block !important;
        position: relative;
        left: 30%;
    }

    .hidden_profile {
        display: block !important;
    }
}

@media (max-width: 990px) {
    .sign_in_up {
        display: block !important;
        text-align: center;
        padding-right: 60px;
    }

    li.nav-item.section {
        gap: 0px !important;
        margin-left: 0px;
    }
}