.content {
    width: 100%;
    padding: 20px 100px;
    margin: 0 !important;
}

.content.table-responsive {
    padding-bottom: 50px;
}

.ngoname {
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
}

.edit {
    height: 34px;
    outline: none;
    font-weight: bolder;
    border-radius: 9999px;
    border: 1px solid var(--blue);
    padding: 0px 15px;
    background-color: var(--white);
}

.edit:hover {
    opacity: 0.8;
}

.modal-backdrop.show {
    z-index: 1000;
}

@media (max-width: 1200px) {
    .content {
        padding: 20px 20px 100px 20px;
    }
    .first-half {
        padding-bottom: 0px;
    }
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}