/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
:root {
    --red: #da291c;
    --dark-red: #a40b00;
    --green: green;
    --light-green: #368b44;
    --vibrant-green: rgb(11, 118, 11);
    --dark-green: rgba(36, 67, 40, 0.8);
    --haze-green: #bde5d2;
}

.main {
    font-size: 24px;
}

.heading {
    margin: 25px 0 0 0;
    font-weight: bolder;
    color: var(--green);
}

.button {
    margin-bottom: 20px;
}

body {
    margin: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: var(--haze-green);
    font-family: 'Poppins', sans-serif;
}



i {
    margin-right: 3px;
}

form {
    max-width: 470px;
    margin-top: 5px !important;
}

label {
    display: block;
    margin-top: 8px;
    font-size: 17px;
    color: var(--green);
    font-weight: 600;
}









button {
    background-color: var(--light-green);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: .2s linear;
}

