.carousel-inner{
    top: -50px;
    /* height: 30vw; */
}
.carousel-item {
    width: 100%;
    height: calc(50vw * 0.75);
    object-fit: cover;
}
.carousel-item > img {
    position: absolute;
    top: -40%;
}
#map{
    top: -50px;
}
.originalPositionBtn {
    outline: none;
    color: rgb(33, 37, 41);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    top: -90px;
    left: 10px;
    padding: 2px 6px;
    z-index: 800;
}
.content {
    width: 90%;
    margin: 0px auto 50px auto;
    text-align: justify;
}
.title-card {
    opacity: 0;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 25px 0;
    background-color: rgba(222, 29, 29, 0.9);
    border: 2px solid #da291c;
    transition: opacity 0.5s ease-in-out;
}
.title-card > p {
    font-size: 18px;
}
.source {
    text-align: right;
    font-size: 12px;
}
.fade-in {
    opacity: 1 !important;
}
@media (max-width: 600px) {
    .title-card {
        margin: 10px 0px;
        padding: 10px 10px;
        border-radius: 8px;
    }

}
.iconMarker {
    border-radius: 50%;
}
.food::before,
.food::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.food::before {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: #e6e6e6;
    border: 5px solid #ee918f;
}
.food::after {
    width: 15px;
    height: 15px;
    background-color: #d25956;
}
.book::before,
.book::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.book::before {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: #e6e6e6;
    border: 5px solid #e0bb94;
}
.book::after {
    width: 15px;
    height: 15px;
    background-color: #d8a46c;
}
.toys::before,
.toys::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.toys::before {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: #e6e6e6;
    border: 5px solid #d677d1;
}
.toys::after {
    width: 15px;
    height: 15px;
    background-color: #b137b7;
}
.clothes::before,
.clothes::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.clothes::before {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: #e6e6e6;
    border: 5px solid #7e77d6;
}
.clothes::after {
    width: 15px;
    height: 15px;
    background-color: #3737b7;
}
.ngo::before,
.ngo::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.ngo::before {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: #e6e6e6;
    border: 5px solid #76a253;
}
.ngo::after {
    width: 15px;
    height: 15px;
    background-color: #588434;
}